# \ <section:top>
*~
*.swp
*.log
# / <section:top>
# \ <section:mid>
*.pyc
/bin
/lib
/lib64
/share
/__pycache__
/pyvenv.cfg
# / <section:mid>
# \ <section:bot>
!.gitignore
/circ/
/SCADA/
/flOwS/
/rustpill/
/meteo/
/elixirbook/
# / <section:bot>
