<!-- \ <section:top> -->
{% extends 'all.html' %}
{% block body %}
<!-- / <section:top> -->
<!-- \ <section:mid> -->
<TABLE id="layout">
    <TR id="trhead">
        <TD>
            <TABLE id="trhead">
                <TR>
                    <TD id="logo">
                        <A href="/admin/">
                            <IMG src="/static/logo.png">
                            </IMG>
                        </A>
                    </TD>
                    <TD id="tdhead">
                        <P>Министерство природных ресурсов и экологии Российской Федерации</P>
                        <P>Федеральная служба по гидрометеорологии и мониторингу окружающей среды</P>
                        <P>Федеральное государственное бюджетное учреждение</P>
                        <P>Приволжское управление по гидрометеорологии<br>и мониторингу окружающей среды</P>
                        <P>гидрометеорологический центр</P>
                        
                    </TD>
                    <TD id="shortdate">
                        {{shortdate}}
                    </TD>
                </TR>
            </TABLE>
        </TD>
    </TR>
    <TR id="trmaker">
        
    </TR>
</TABLE>
<!-- / <section:mid> -->
<!-- \ <section:bot> -->
{% endblock %}
<!-- / <section:bot> -->
